body {
    background-color: #eee;
}

.card {
    background-color: white;
    width: 30%;
    height: 30vh;
    margin: 100px auto;
    text-align: leftcd;
    box-shadow: 2px 2px 4px;
    border-radius: 5px;
}

h2 {
    background-color: blue;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px 5px 0 0;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

.w-full {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin: 10px auto;
}

.ml-3 {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    width: 22%;
    margin: 0 0 0 auto;
    white-space: nowrap;
    padding: 10px;
}

.card_container {
    width: 80%;
    margin: 0 auto;
}
