main {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: 100px auto 0;
}

.card {
    width: 45%;
}

.card_img img {
    width: 100%;
}

.back_btn {
    background: white;
    padding: 4px 3px 7px 9px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
    display: inline-block;
    width: 22px;
}

.shop_ttl {
    margin-bottom: 30px;
}

.back {
    color: #000
}

.card-shop_name {
    font-size: 24px;
    font-weight: bold;
    margin: 3px 0 0 10px;
    display: inline-block;
}

.reservation {
    background-color: #1458e1;
    width: 45%;
    border-radius: 5px;
}

h2 {
    width: 85%;
    margin: 25px auto;
}

h2,
th,
td {
    color: white;
}

table {
    background: #5290ef;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
}

th {
    padding-left: 10px;
}

th,
td {
    text-align: left;
}

tr {
    line-height: 2.5;
}

.reserve {
    width: 85%;
    margin: 0 auto;
}

.date {
    width: 35%;
}

.time,
.num_of_users {
    width: 100%;
}

.date,
.time,
.num_of_users {
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.reserve_btn {
    padding: 20px 30px;
    background: blue;
    color: white;
    width: 100%;
    margin-top: 35%;
    border-radius: 0 0 5px 5px;
    border: none;
}
