body{
    background-color: #eee;
}
.card{
    background-color: white;
    width: 400px;
    height: 30vh;
    margin:30px auto;
    text-align: center;
    box-shadow: 2px 2px 4px;
}
.thanks{
    padding: 50px
}
.txt {
    line-height: 80px;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
}
.return_btn {
    background-color: blue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
}
