.container {
    width: 82%;
    margin: 50px auto;
}

.flex-reservation {
    display: flex;
}

.reservation_list {
    width: 70%;
    margin-right: 50px;
}

.hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.hidden, .stu_ttl {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.reservation {
    background: #1458e1;
    height: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    width: fit-content;
    display: flex;
}

.reservation_ttl {
    line-height: 2.5;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.reserve {
    white-space: nowrap;
}

.fa-circle-xmark {
    font-size: 20px;
    color: white;
}

.x_btn {
    background: transparent;
    border: none;
    margin-left: 50%;
}

table {
    white-space: nowrap;
    width: 100%;
}

tr {
    line-height: 3;
}

th {
    text-align: left;
    padding: 0 0 0 10px;
}

td {
    text-align: left;
    padding: 0 0 0 10px;
}

.flex_ttl {
    display: flex;
    justify-content: space-around;
}

.shop_list {
    width: 100%;
}

.user_name, .likes_shops {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.shop_card {
    width: 45%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.shop_img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.shop_content {
    padding: 10px;
    font-weight: bold;
}

.shop_area, .shop_genre {
    white-space: nowrap;
}

.shop_name, .shop_tag {
    margin: 0 0 15px 0;
}

.shop_tag {
    font-size: 12px;
    font-weight: 400;
}

.detail_btn {
    background-color: #1458e1;
    border: none;
    color: white;
    padding: 9px 12px;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.like_btn {
    border: none;
    background: transparent;
}

.heart_red {
    color: red;
    font-size: 20px;
}

.flex_items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .shop_card{
        width: 100%;
    }
}
