.nav_flex {
    display: flex;
    width: 87%;
    margin: 0 auto 20px;
}

.search {
    white-space: nowrap;
    margin-top: 60px;
    display: flex;
}

.area_id, .genre_id, .name {
    padding: 10px;
}

.area_id {
    width: 87px;
}

.genre_id {
    width: 92px;
}

.name {
    width: 80px;
}

.area_id, .genre_id, .name, .search_btn {
    border: none;
    background: white;
}

.shop_list {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.shop_card {
    width: 45%;
    height: 30%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
    margin-bottom: 17px;
    border-radius: 10px;
}

.shop_card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.shop_content {
    padding: 10px;
    font-weight: bold;
}

.shop_area, .shop_genre {
    white-space: nowrap;
}

.shop_name, .shop_tag {
    margin: 0 0 15px 0;
}

.shop_tag {
    font-size: 12px;
    font-weight: 400;
}

.detail_btn {
    background-color: #1458e1;
    border: none;
    color: white;
    padding: 9px 12px;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.like_btn {
    border: none;
    background: transparent;
}

.heart_red {
    color: red;
    font-size: 20px;
}

.gray_heart {
    color: #cbd5e0;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .nav_flex {
        display: block;
        width: 87%;
        margin: 0 auto 20px;
    }
}

@media screen and (min-width: 768px) {
    .shop_card {
        width: 23%;
    }
}

@media screen and (min-width: 768px) {
    .area_id, .genre_id {
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .name {
        width: 300px;
    }
}


