.card {
    background: white;
    width: fit-content;
    margin: 100px auto 0;
    padding: 0 100px 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
}

p {
    font-size: 24px;
    margin: 0 auto;
    padding-top: 80px;
    white-space: nowrap;
    width: fit-content;
}

.home_btn {
    background: blue;
    border: none;
    border-radius: 5px;
    margin: 40px auto 0;
    display: block;
}

.home {
    color: white;
}
