.card {
    background: white;
    width: 30%;
    margin: 100px auto 0;
    padding-bottom: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
}

p {
    font-size: 24px;
    text-align: center;
    padding-top: 80px;
    white-space: nowrap;
}

.home_btn {
    background: blue;
    border: none;
    border-radius: 5px;
    margin: 40px auto 0;
    display: block;
}

.home {
    color: white;
}
